<html>
    <head>
        <title>Maiya Avalon's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Maiya Avalons Blog</a></h1>
        </div>

        <div>
            <p>published: 2019.12.17, 09:23</p>
            <h2><a href="/">My first blog post</a></h2>
            <p>If you do not set your own agenda, someone else will.</p>
        </div>

        <div>
            <p>published: 2019.12.17, 09:26</p>
            <h2><a href="/">My second blog post</a></h2>
            <p>When it comes to my life's work, aka my career, my network is my net worth.</p>
        </div>
    </body>
</html>